
body {
    font-family: 'Poppins', sans-serif;
    background: #faf7ff;
    color: #333;
    overflow-x: hidden;
}

.navbar {
    background: rgba(122, 82, 179, 0.2);
    backdrop-filter: blur(10px);
}

.navbar-brand {
    font-weight: 700;
    font-size: 1.4rem;
    color: #6a2cb3 !important;
}

.navbar .nav-link {
    color: #5c2ea8 !important;
    font-weight: 500;
}


.hero {
    height: 80vh;
    background: url('../img/hero-bg.jpg') center/cover no-repeat;
    position: relative;
}

.hero::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(98, 45, 156, 0.45);
}


.hero .container {
    position: relative;
    z-index: 2;
}

.hero .brand {
    color: #ffe9ff;
    font-weight: 700;
}

.card {
    border: none;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 3px 15px rgba(133, 58, 203, 0.15);
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}


.btn-primary {
    background: #7b3fe4;
    border: none;
}

.btn-primary:hover {
    background: #6b2bd1;
}


.auth-page {
    background: linear-gradient(to bottom right, #e9d5ff, #f8f4ff);
}


footer {
    background: #7a3ce0;
    color: white;
}


.section-title {
    font-weight: 700;
    color: #6927c2;
}

